<main>
  <div class="container">
    <h1>Sobre</h1>
    <p>Conheça a OCEB</p>
  </div>
</main>
<app-componente-sobre-home></app-componente-sobre-home>
<section class="mvv">
  <div class="container">

    <!-- Cards -->
    <div class="cards-container">
      <mat-card class="card-div">
        <div>
          <img [src]="pathMissao" alt="missão" class="img-card">
          <mat-card-title class="card-title">Missão</mat-card-title>
        </div>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>

      <mat-card class="card-div">
        <div>
          <img [src]="pathVisao" alt="missão" class="img-card">
          <mat-card-title class="card-title">Visão</mat-card-title>
        </div>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>

      <mat-card class="card-div">
        <div>
          <img [src]="pathValores" alt="missão" class="img-card">
          <mat-card-title class="card-title">Valores</mat-card-title>
        </div>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>
    </div>

  </div>
</section>
