.section-cursos-agendados {
  padding: 3rem 0;
  background: #dcddde;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.card-cursos-agendados {
  max-width: 370px;
}

.section-cursos-agendados h3 {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-cursos-agendados {
    max-width: 300px;
  }
}
