<section class="section-cursos-agendados">
  <div class="container">
    <h3>Cursos Agendados</h3>
    <div class="card-container">
      <mat-card class="card-cursos-agendados">
        <mat-card-header>
          <mat-card-subtitle>Localização</mat-card-subtitle>
          <mat-card-title>Samambaia - 13/05/2023</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Local: Área especial nº 01, Riacho Fundo, Brasília - DF, 71805-100</p>
          <p>Horário: 08h às 13h</p>
          <p>Valor: R$ 120 (Certificado e Credencial incluídos)</p>
          <p>Documentos necessários: CPF, Imagem 3x4 para a credencial.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Garanta sua vaga <mat-icon aria-hidden="false" aria-label="Example home icon"
              fontIcon="person_add"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-cursos-agendados">
        <mat-card-header>
          <mat-card-subtitle>Localização</mat-card-subtitle>
          <mat-card-title>Samambaia - 13/05/2023</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Local: Área especial nº 01, Riacho Fundo, Brasília - DF, 71805-100</p>
          <p>Horário: 08h às 13h</p>
          <p>Valor: R$ 120 (Certificado e Credencial incluídos)</p>
          <p>Documentos necessários: CPF, Imagem 3x4 para a credencial.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Garanta sua vaga <mat-icon aria-hidden="false" aria-label="Example home icon"
              fontIcon="person_add"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-cursos-agendados">
        <mat-card-header>
          <mat-card-subtitle>Localização</mat-card-subtitle>
          <mat-card-title>Samambaia - 13/05/2023</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Local: Área especial nº 01, Riacho Fundo, Brasília - DF, 71805-100</p>
          <p>Horário: 08h às 13h</p>
          <p>Valor: R$ 120 (Certificado e Credencial incluídos)</p>
          <p>Documentos necessários: CPF, Imagem 3x4 para a credencial.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Garanta sua vaga <mat-icon aria-hidden="false" aria-label="Example home icon"
              fontIcon="person_add"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>

</section>
