.section-cursos-agendados {
  padding: 3rem 0;
  background: #dcddde;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-cursos-agendados {
  max-width: 370px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    gap: 1rem;
  }

  .card-cursos-agendados {
    max-width: 300px;
  }
}
