<section class="sobre-oceb">
  <div class="container container-sobre">
    <h3>Sobre a Oceb</h3>
    <div class="descricao-oceb">
      <img [src]="pathLogoOceb" alt="Logo da OCEB">
      <p>{{textDescription}}</p>
    </div>
    <div class="descricao-quote">
      <p>"Assim resplandeça a vossa luz diante dos homens, para que vejam as vossas boas obras e glorifiquem ao Vosso
        Pai, que esta nos céus"<span> - Matheus 5:16</span></p>
    </div>
    <div class="div-btn">
      <button mat-raised-button color="warn" class="btn-cta" routerLink="/capelania">Sobre</button>
    </div>
  </div>
</section>
