<main>
  <h1>Cursos Agendados</h1>
  <p>Controle os cursos agendados</p>
</main>

<section class="section-cursos-agendados cursos-agendados">
  <div class="adicionar-curso">
    <button mat-raised-button class="custom-button" (click)="addCursos()">
      <mat-icon>add</mat-icon> Adicionar
    </button>
  </div>
  <div class="container">
    <div class="card-container">

      <mat-card class="card-cursos-agendados" *ngFor="let curso of cursos | async">
        <mat-card-header>
          <mat-card-title class="div-icon"><mat-icon fontIcon="pin_drop" color="primary"></mat-icon>
            {{curso.cidade}} | {{ curso.uf | uppercase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="div-icon"><mat-icon fontIcon="date_range" color="primary"></mat-icon><span class="infos-card">Data:
            </span>
            {{formatarData(curso.dataCurso)}}</p>
          <p class="div-icon"><mat-icon fontIcon="location_city" color="primary"></mat-icon><span
              class="infos-card">Local:
            </span>
            {{curso.local}}</p>
          <p class="div-icon"><mat-icon fontIcon="schedule" color="primary"></mat-icon><span class="infos-card">Horário:
            </span>
            {{curso.horario}}</p>
          <p class="div-icon"><mat-icon fontIcon="attach_money" color="primary"></mat-icon><span
              class="infos-card">Valor:
            </span>
            R${{curso.valor}}</p>
          <p class="div-icon"><mat-icon fontIcon="person" color="primary"></mat-icon><span class="infos-card">
              Responsável:
            </span>{{
            curso.responsavel }}</p>
          <p class="div-icon"><mat-icon fontIcon="call" color="primary"></mat-icon>{{ curso.telefoneResponsavel}}</p>
          <p class="div-icon"><mat-icon fontIcon="badge" color="primary"></mat-icon><span class="infos-card">Documentos
              necessários: </span> CPF, Imagem 3x4 para credencial.</p>
          <mat-divider></mat-divider>
          <p class="div-icon"><mat-icon fontIcon="description" color="primary"></mat-icon><span class="infos-card"
              style="font-weight: 400;">Descrição:
            </span>
            {{curso.descricao}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Garanta sua vaga <mat-icon fontIcon="person_add" color="primary"></mat-icon>
          </button>
          <button mat-button (click)="editarCurso(curso)">Editar<mat-icon fontIcon="edit"
              style="color: green;"></mat-icon>
          </button>
          <button mat-button (click)="abrirDialogConfirmacao(curso.id)">Excluir<mat-icon fontIcon="delete"
              color="warn"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>