.section-agende-seu-curso {
  background: url("../../../../assets/images/sobre-page/pagina-cte-sobre.jpg")
    no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center; /* Centralizar o conteúdo */
  padding: 4rem 0;
}

.title-agende-seu-curso {
  color: #fff;
}

@media (max-width: 768px) {
  .agende-seu-curso {
    padding: 2rem 0; /* Reduzir o espaçamento em telas menores */
  }
}
