main {
  height: 400px;
  margin-top: 100px;
  width: 100%;
  background: url("../../../assets/images/home-page/background-home.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 1rem;
}