<footer class="footer">
  <div class="container">
    <ul class="footer-container">
      <li class="localizacao">
        <h4>Localização</h4>
        <p>SAAN, Qd 2 Lotes 1265 | 1275 Asa Norte - Brasília - DF</p>
        <a>Clique aqui para abrir no mapa.</a>
      </li>

      <li class="mapa-do-site">
        <h4>Mapa do site</h4>
        <ul>
          <li><a routerLink="/">- Home</a></li>
          <li><a routerLink="/sobre">- Sobre</a></li>
          <li><a routerLink="/capelania">- Capelania</a></li>
          <li><a routerLink="/contato">- Contato</a></li>
        </ul>
      </li>

      <li class="contato">
        <h4>Contato</h4>
        <ul>
          <li><a>+55 (11) 99999-9999</a></li>
          <li><a>jkalves6@gmail.com</a></li>
        </ul>
      </li>

      <li>
        <h4>Redes Sociais</h4>
        <ul class="redes-sociais">
          <li><a><img [src]="pathFacebook" alt="Logo do Facebook"></a></li>
          <li><a><img [src]="pathInstagram" alt="Logo do Instagram"></a></li>
          <li><a><img [src]="pathWhatsApp" alt="Logo do Whatsapp"></a></li>
          <li><a><img [src]="pathYoutube" alt="Logo do YouTube"></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="rodape">
    <p>Copyright © 2023 OCEB. Todos os direitos reservados. </p>
  </div>
</footer>
