.component-capelania {
  margin: 4rem 0;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card-capelania {
  max-width: 370px;
}

.card-title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-capelania {
  margin: 1.2rem;
  width: 300px;
  padding: 1.2rem;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.card-text-link {
  color: #404A52;
}