.component-capelania {
  margin: 4rem 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.card-capelania {
  max-width: 370px;
}

.card-title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-capelania {
  margin: 1.2rem;
  width: 300px;
  padding: 1.2rem;
}

.card-text-link {
  color: #404a52;
}

/* Medias Querias */

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .card-capelania {
    max-width: 300px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-capelania p {
    font-size: 0.8rem;
  }
}
