<section class="component-capelania">
  <div class="container centralizar">
    <h3>Conheça nossas capelanias</h3>
    <div class="card-container">
      <mat-card class="card-capelania">
        <img mat-card-image [src]="pathFirstImageCapelania" alt="Foto de um leito hospitalar">
        <mat-card-content>
          <h4 class="card-title">Hospitalar</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-text-link"><span class="card-text-link">Saiba mais </span><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="open_in_new"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-capelania">
        <img mat-card-image [src]="pathSecondImageCapelania" alt="Foto de um leito hospitalar">
        <mat-card-content>
          <h4 class="card-title">Prisional</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-text-link"><span class="card-text-link">Saiba mais </span><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="open_in_new"></mat-icon></button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card-capelania">
        <img mat-card-image [src]="pathThirdImageCapelania" alt="Foto de um leito hospitalar">
        <mat-card-content>
          <h4 class="card-title">Escolar</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-text-link"><span class="card-text-link">Saiba mais </span><mat-icon
              aria-hidden="false" aria-label="Example home icon" fontIcon="open_in_new"></mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="div-btn">
      <button mat-raised-button color="warn" class="btn-cta">Ver todos</button>
    </div>
  </div>
</section>