<section class="section-mvv">
  <div class="container mvv">
    <div class="cards-mvv-container">
      <mat-card class="card-mvv">
        <img [src]="pathMissao" alt="Missao" class="card-img">
        <mat-card-title class="card-title">Missão</mat-card-title>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>

      <mat-card class="card-mvv">
        <img [src]="pathVisao" alt="Missao" class="card-img">
        <mat-card-title class="card-title">Visão</mat-card-title>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>

      <mat-card class="card-mvv">
        <img [src]="pathValores" alt="Missao" class="card-img">
        <mat-card-title class="card-title">Valores</mat-card-title>
        <mat-card-content class="card-content">Proporcionar experiências inesquecíveis para as pessosas através do
          esportes aéreos e
          inspirá-las a realizar seus maios altos sonhos.</mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
