<form action="">
  <div class="form-nome campo">
    <label for="">Nome</label>
    <input type="text">
  </div>

  <div class="form-email campo">
    <label for="">E-mail</label>
    <input type="email">
  </div>

  <div class="form-select campo">
    <label for="">Motivo do Contato</label>
    <select name="select" id="">
      <option value="" disabled selected></option>
      <option value="">Curso</option>
      <option value="">Renovação</option>
      <option value="">Dúvidas</option>
    </select>
  </div>

  <div class="form-mensagem campo">
    <label for="">Mensagem</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>

  <button class="btn-form">Enviar</button>
</form>
