/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

h3,
h2 {
  font-size: 1.5rem;
  color: #f44336;
  text-align: center;
  text-transform: uppercase;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-cta {
  margin: 1.2rem;
  width: 300px;
  padding: 1.5rem;
  text-transform: uppercase;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.cor-de-fundo-branco {
  background-color: #fff;
}

/* Media Queries */

/* Dispositivos pequenos (telefones) de até 768px de largura */

@media (max-width: 768px) {
  h1 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}
