.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.gallery img {
  max-width: 580px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Medias Queries */

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery img {
    max-width: 240px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gallery img {
    width: 300px;
  }
}
