<section>
  <div class="container">
    <h3>Galeria de Fotos</h3>
    <mat-grid-list cols="2" rowHeight="2:1" style="gap: 1rem;">
      <mat-grid-tile><img [src]="pathFirstImageGaleria" alt="Pastores no altar"></mat-grid-tile>
      <mat-grid-tile><img [src]="pathSecondImageGaleria" alt="Orando por um presidiário"></mat-grid-tile>
      <mat-grid-tile><img [src]="pathThirdImageGaleria" alt="Capelania Escolar"></mat-grid-tile>
      <mat-grid-tile><img [src]="pathFourthImageGaleria" alt="Igreja cheia"></mat-grid-tile>
    </mat-grid-list>
    <!-- <div class="galeria-fotos"> -->
    <!-- <img [src]="pathFirstImageGaleria" alt="Pastores no altar">
      <img [src]="pathSecondImageGaleria" alt="Orando por um presidiário">
      <img [src]="pathThirdImageGaleria" alt="Capelania Escolar">
      <img [src]="pathFourthImageGaleria" alt="Igreja cheia"> -->
    <!-- </div> -->
  </div>
</section>
