<main>
  <section class="main-contato">
    <div class="container">
      <h1>Contato</h1>
      <p>Agende seu curso. Envie sua Mensagem</p>
    </div>
  </section>
  <section class="agende-whatsapp">
    <div class="container">
      <h2>Agende pelo WhatsApp</h2>
      <div class="whatsapp-card">
        <a href="#">
          <img src="../../../assets/images/contato-page/whatsapp-logo 1.svg" alt="Logo do WhatsApp"
            class="whatsapp-logo">
        </a>
        <p>Nós também agendamos cursos e realizamos atendimento direto pelo WhatsApp. É simples, é rapido, é fácil.</p>
      </div>
    </div>
  </section>
  <section class="atendimento-personalizado">
    <div class="container">
      <h2>Atendimento Personalizado</h2>
      <div class="container-contato">
        <app-formulario-atendimento></app-formulario-atendimento>
        <div class="formulario-info-right">
          <div>
            <h4 class="info-form-title">Fale com a gente</h4>
            <p>+55 (61) 9 9999-9999</p>
            <p>oceb@email.com</p>
          </div>

          <div>
            <h4 class="info-form-title">Siga-nos nas redes sociais</h4>
            <p>facebook.com</p>
            <p>instagram.com</p>
            <p>youtube.com</p>
          </div>

          <div>
            <h4 class="info-form-title">Faça uma visita</h4>
            <p>SAAN, Qd 2 Lotes 1265 | 1275</p>
            <p>Asa Norte - Brasília -DF</p>
            <p>CEP 123456-678</p>
          </div>

          <div>
            <h4 class="info-form-title">Sobre nós</h4>
            <p>
              A OCEB-Ordem dos Capelães Evangélicos do Brasil, tem por finalidade: Promover e programar cursos,
              encontros,
              seminários, conferencias, preparação e capacitação de Capelania Evangélica Hospitalar, Prisional,
              Familiar,
              objetivando através do curso, o intercâmbio, a amizade e o companheirismo no corpo de Cristo
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
