<main>
  <section class="main-contato">
    <div class="container">
      <h1>Contato</h1>
      <p>Agende seu curso. Envie sua Mensagem</p>
    </div>
  </section>
  <section class="agende-whatsapp">
    <div class="container">
      <h2>Agende pelo WhatsApp</h2>
      <div class="whatsapp-card">
        <a href="#">
          <img src="../../../assets/images/contato-page/whatsapp-logo 1.svg" alt="Logo do WhatsApp"
            class="whatsapp-logo">
        </a>
        <p>Nós também agendamos cursos e realizamos atendimento direto pelo WhatsApp. É simples, é rapido, é fácil.</p>
      </div>
    </div>
  </section>
  <section class="atendimento-personalizado">

  </section>
</main>
