.main-contato {
  height: 400px;
  margin-top: 80px;
  width: 100%;
  background: url("../../../assets/images/contato-page/agenda-background.png")
    no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contato p {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 1rem;
}

.agende-whatsapp {
  margin: 4rem 0;
}

.whatsapp-card {
  max-width: 30rem;
  padding: 2rem;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 1px solid #dcddde;
  background: #fff;
  border-radius: 12px;
}

.whatsapp-card p {
  color: #404a52;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.875rem;
  font-style: italic;
  text-align: justify;
  line-height: 1.3;
}

.atendimento-personalizado {
  background: #dcddde;
}

.atendimento-personalizado {
  padding: 4rem 0;
}

.container-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

/* Section infos formulário */

.info-form-title {
  font-size: 1.5rem;
  color: #404a52;
}

.formulario-info-right p {
  font-size: 0.875rem;
  font-style: italic;
  text-align: justify;
  line-height: 1.3;
  color: #404a52;
}

.contato-mapa {
  padding: 2rem 0;
}

.contato-mapa p {
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
  color: #404a52;
}

@media (max-width: 1300px) {
  .container-contato {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .container-contato > div p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .whatsapp-card img {
    width: 75px;
  }
}
